.day-content {
  .day-carousel {
    .carousel__active-img {
      margin-bottom: 10px;
      position: relative;
      &__wrap {
        width: 100%;
        height: 500px;
        background-color: gray;
      }
      &__dropdown {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
        background-color: #512332;
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s;
      }
      &:hover {
        .carousel__active-img__dropdown {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .carousel-list {
      display: flex;
      .carousel-item {
        padding-block: 10px;
        flex-grow: 1;
        cursor: pointer;
        transition: 0.3s;
        background-color: gray;
        &:not(:last-child) {
          margin-right: 10px;
        }
        &--active {
          background-color: black;
        }
        &:hover {
          background-color: black;
        }
      }
    }
  }
}

.btn {
  &--back {
    margin-bottom: 10px;
    align-self: flex-start;
  }
  &--add {
  }
}
